* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(135deg, #00BCD4, #009688); */
    background: linear-gradient(135deg, #006676b7, #01a897a7);
    /* background: linear-gradient(135deg, #01353cab, #0096877b); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 350px;
    background-color: white;
    padding: 30px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #009688;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #009688;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #009688;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #00BCD4, #009688);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signup-btn:hover {
    background: linear-gradient(45deg, #009688, #00796B);
}

p {
    margin: 15px 0;
    font-size: 14px;
    color: #777;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #005d52;
    text-decoration: none;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
